.Rproj.user
.Rhistory
.Rdata
VennDiagram*
tests/**/*.html
misc/**/*.rda
data-raw/**/*.rda
*.bw
data-raw/RMapDB_generate
..Rcheck
inst/doc
/doc/
/Meta/
rlreport.html
rlseq_report.html
rlr.rda
rlrRNH.rda
tests/testthat/rlreport.html
.gitattributes
..bfg*
tests/testthat/rlreport_files
*report.html
*annotated_peaks.csv
logo.png
*broadPeak
*.bed
misc/
