.Rproj.user
*.Rproj
.Rhistory
RLSeq.Rproj
.Rdata
tests/**/*.html
misc/**/*.rda
data-raw/**/*.rda
*.bw
data-raw/RMapDB_generate
..Rcheck
inst/doc
/doc/
/Meta/
rlreport.html
rlseq_report.html
rlr.rda
rlrRNH.rda
tests/testthat/rlreport.html
.gitattributes
..bfg*
tests/testthat/rlreport_files
docs
